<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431135110955-eja9ukuntuk90hgu4em9u54m4040rigu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431135110955-eja9ukuntuk90hgu4em9u54m4040rigu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>431135110955-c7bcquu8sj4r24t3mlfn10fs7pv1v7ps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-mDrxf336q0TiHkt60AlVBiCkJNDTW3M</string>
	<key>GCM_SENDER_ID</key>
	<string>431135110955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QTechNetworks.FineDiner</string>
	<key>PROJECT_ID</key>
	<string>finedinner-new</string>
	<key>STORAGE_BUCKET</key>
	<string>finedinner-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431135110955:ios:1319294a425f9786c4b76e</string>
</dict>
</plist>