<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnjF8rhnRil-OodaYyEDahIjaBpmL2QHs</string>
	<key>GCM_SENDER_ID</key>
	<string>942113943843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qtechnetworks.gyms</string>
	<key>PROJECT_ID</key>
	<string>chat-test-7fd32</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-test-7fd32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942113943843:ios:d7a5b61ae1e2a91d6d9c96</string>
	<key>DATABASE_URL</key>
	<string>https://chat-test-7fd32-default-rtdb.firebaseio.com</string>
</dict>
</plist>